body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
  background-color:black;

}

header {
  height: 150px !important;
  text-align: center;
  padding: 20px;
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url('/static/images/200000203-photos-of-sky-during-different-weather-collage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 28px;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

header p {
  margin: 5px 0;
}

header img {
  max-width: 50%;
  height: 20%;
  margin-top: 10px;
  border-radius: 5px;
}

.container {
  text-align: center;
  padding: 20px;
}



button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 20px;
}

.container-card {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.city-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.weather-icon i {
  font-size: 50px;
  color: #ffdd00;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer a {
  text-decoration: none;
  color: #212529;
  margin: 0 10px;
}

footer a i {
  font-size: 24px;
}

.date-time {
  text-align: left; /* Aligns day and date to the left */
}

.current-time {
  text-align: right; /* Aligns time to the right */
}

.class-fa {
  left : 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  
}

.class-fa-2 {
bottom: 50%;
}


.my-container-1 {
  margin-top: 50px;
  display: flex;
  margin-left: 10%;
  background-color: #e0e0e0d7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75%;
  height: auto;
}


.my-container-2 {
align-items: center;
justify-content: center;
margin-left: 10%;
border-width: 5px;
border-radius: 8px;
width: 75%;
height: auto;
background-image: url('/static/images/image copy.png') !important;
background-size: cover;
background-repeat: no-repeat;

}

.on-right {
  float: right; /* Aligns to the right */
  width: 50%; /* Adjust as needed */
}

.weather-info-2 {
  font-family: 'Georgia', serif; /* Alternate old-fashioned serif font */
  font-size: 16px; /* Smaller font size for paragraphs */
  color: #030303; /* Darker text color */
  line-height: 1.8; /* Increased line height for readability */
  padding: 10px; /* Padding around paragraphs */
  text-align: center;
  font-weight: bold;
}

#weatherForm {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
  font-weight: bold;
}

#locationOutput
{
  font-weight: bold;
  font-family: 'Georgia', serif; /* Alternate old-fashioned serif font */
  font-size: 16px; /* Smaller font size for paragraphs */
  color: #000000; /* Darker text color */
  line-height: 1.8; /* Increased line height for readability */
  
  padding: 10px; /* Padding around paragraphs */
}


