<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Your Weather Web Application</h1>
    <p>See the weather in your place with just one click!</p>
    <!--<img src="static/images/200000203-photos-of-sky-during-different-weather-collage.jpg" class="weather img-responsive" alt="Weather collage">-->
  </header>

  
  <div class="my-container-1">
        <div class="on-left" style="margin-left: 5%;">

            <p id="locationOutput" ></p>
          
            <button id="clearBtn" style="display: none;">Clear</button>
        </div>
        
            <div class="flex-content" style="display: block; margin-left:20%; font-weight: bold;">
                <div class="day-date" >
                    <p id="date"></p>
                </div>
                <div class="current-time">
                    <p id="time"></p>
                </div>
              </div>    
  </div>





    <div class="my-container-2">
      <form id="weatherForm" onsubmit="return false;">
        <input type="text" id="cityInput" placeholder="Enter city name">
        <button type="submit" id="getWeatherBtn">Get Weather</button>
      </form>
     <div id="weatherInfo" class="weather-info-2"></div>
   </div>
  

  <div class="container-card" id="citiesContainer">
    <div class="city-card" id="tunisiaCard">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Tunisia</h2>
          <div class="weather-icon" id="tunisiaIcon"></div>
          <div id="tunisiaInfo"></div>
        </div>
      </div>
    </div>
    <div class="city-card" id="bizerteCard">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Bizerte</h2>
          <div class="weather-icon" id="bizerteIcon"></div>
          <div id="bizerteInfo"></div>
        </div>
      </div>
    </div>
    <div class="city-card" id="bejaCard">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Beja</h2>
          <div class="weather-icon" id="bejaIcon"></div>
          <div id="bejaInfo"></div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <a href="https://github.com/Ilefrajhi"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ilef-rajhi-836669262/"><i class="fa fa-linkedin"></i></a>
  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
